.title1{
    font-size: 2em;
    font-style: italic;
    color: rgba(86,86,86,0.91);
    margin-top: 5%;
    text-align: center;
}

.hr-title{
    height: 2px;
    background: rgba(116,116,116,0.73);
    color: rgba(116,116,116,0.73);
    margin-top: 0%;
    margin-bottom: 2%;
}
.hr-title2{
    height: 2px;
    background: rgba(116,116,116,0.73);
    color: rgba(116,116,116,0.73);
    margin-top: 0%;
    margin-bottom: 4%;
}
.text-s{
    font-style: italic;
    margin-top: 0%;
    font-family: ".VnAristote";
    font-size: 2.3em;
    margin-bottom: 4%;
    color: #d61809;
}
.text-i{
    font-style: italic;
    margin-top: 4%;
    font-family: ".VnAristote";
    font-size: 2.3em;
    margin-bottom: 0%;
    color: #d61809;
    text-align: right;
}

.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    overflow: hidden;
}

.b-link-stripe .b-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.b-link-stripe .b-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    /*background: rgba(0,0,0,0.29);*/
    /*background: rgba(229,151,79,0.32);*/
    background: rgba(222,162,97,0.38);
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    opacity: 0;
    visibility: hidden; /* lt-ie9 */
}

/* lt-ie9 */
.b-link-stripe:hover .b-line {
    visibility: visible;
}

.b-link-stripe .b-line1 {
    left: 0;
}

.b-link-stripe .b-line2 {
    left: 20%;
    transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -ms-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    -webkit-transition-delay: 0.2s !important;
}

.b-link-stripe .b-line3 {
    left: 40%;
    transition-delay: 0.4s !important;
    -moz-transition-delay: 0.4s !important;
    -ms-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
}

.b-link-stripe .b-line4 {
    left: 60%;
    transition-delay: 0.6s !important;
    -moz-transition-delay: 0.6s !important;
    -ms-transition-delay: 0.6s !important;
    -o-transition-delay: 0.6s !important;
    -webkit-transition-delay: 0.6s !important;
}

.b-link-stripe .b-line5 {
    left: 80%;
    transition-delay: 0.8s !important;
    -moz-transition-delay: 0.8s !important;
    -ms-transition-delay: 0.8s !important;
    -o-transition-delay: 0.8s !important;
    -webkit-transition-delay: 0.8s !important;
}

.b-link-stripe:hover .b-line {
    opacity: 1;
}



.b-delay06 {
    transition-delay: 0.6s !important;
    -moz-transition-delay: 0.6s !important;
    -ms-transition-delay: 0.6s !important;
    -o-transition-delay: 0.6s !important;
    -webkit-transition-delay: 0.6s !important;
}


.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden; /* lt-ie9 */
}

/* lt-ie9 */
.b-animate-go:hover .b-animate {
    visibility: visible;
}


.b-scale {
    position: relative;
    transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
}

.b-animate-go:hover .b-scale {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
}