* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Josefin Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

#search .btn:hover,
footer .btn:hover {
    border-radius: 4px;
}
.container-fluid .banner img{
    width: 100%;
}
.container-fluid .banner .banner-text {
    position: absolute;
    opacity: 0.7;
    border-radius: 15px;
    top: 40%;
    text-align: center;
    right: 7%;
    /*background-color: #5bc0de;*/
}
.container-fluid .banner .banner-text h1{
    color: #fff;
    /*font-size: 100px;*/
}
.container-fluid .banner .banner-text h2{
    position: absolute;
    right: 5%;
    color: #fff;
    line-height: 50px;
}
#myCarousel{
    margin-top: 3%;
}
#nav1 {
    padding: 60px 0;
    transition: 0.8s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.33);
    border: none;
    background-color: rgba(252, 149, 76, 0.57);
}

#nav1 #navbar a:hover,
#nav1 #navbar a:focus {
    color: #1BBC9B;
    transition: all .2s ease;
    box-shadow: 0 0 6px #1BBC9B;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: rgba(255,152,76,0.57);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
    color: #1BBC9B;
    transition: all .2s ease;
}

.dropdown-menu > li > a {
    color: white;
    border-left: 1px solid #1BBC9B;
    margin-left: 5px;
    padding-top: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar {
    border-radius: 0;
}

#nav1 .bold {
    font-weight: bold;
}

#nav1 a:focus {

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #1BBC9B;
    background: none;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#logo {
    margin-top: -40px;
    margin-left: 0;
    width: 300px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.8s;
}

/*=======================================
button view
=======================================*/
.button-view .span1 {
    position: absolute;
    bottom: 0;
    right: 40px;
    background-color: rgba(0, 125, 99, 0.91);
    width: 105px;
    line-height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.button-view .span1-1 {
    position: relative;
    z-index: 3;
    transition: .5s;
}

.button-view .span1-2 {
    position: absolute;
    bottom: 0;
    right: 100%;
    background-color: rgba(1, 92, 69, 0.73);
    width: 105px;
    height: 40px;
    z-index: 2;
    transition: all 0.5s ease;
}

.button-view:hover .span1-2 {
    right: 0;
    transition: all 0.4s ease;
}

.button-view .span2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: #015c45;
    color: black;
    overflow: hidden;
}

.button-view .span2 .span2-1 {
    position: absolute;
    left: 28%;
    top: 28%;
    width: 50%;
}

.button-view .span2 .span2-2 {
    position: absolute;
    left: -128%;
    top: 28%;
    width: 50%
}

.button-view:hover .span2 .span2-1 {
    left: 128%;
    transition: 0.7s;
}

.button-view:hover .span2 .span2-2 {
    left: 28%;
    transition: all .7s ease;
}

/*=============
search
=============*/
#nav1 .glyphicon-search {
    margin-top: -3px;
}

#search .modal-dialog {
    width: 50%;
    margin-top: 180px;
}

#search form {
    margin: auto;
    display: block;
}

#search form input {
    width: 85%;
    height: 40px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding-left: 10px;
}

#search form button {
    padding: 10px 20px;
    margin-bottom: 2px;
    background-color: rgba(255,152,76,0.57);
    color: white;
}

#search form button:hover {
    background-color: #1abc9c;
}

#search .closeSearch {
    position: absolute;
    bottom: 100%;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

#search .closeSearch:hover {
    color: #1abc9c;
}

/*===================
Login
===================*/


#login .modal-dialog {
    width: 70%;
    margin-top: 100px;
    background-color: lightpink;
}

#login .container {
    position: relative;
    width: 100%;
    background-color: rgba(255,152,76,0.57);
    padding: 20px 0 30px 0;
}

#login .container h2 {
    color: #1abc9c;
}

#login input,
#login .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

#login input:hover,
#login .btn:hover {
    opacity: 1;
}

#login .fb {
    background-color: #23527C;
    color: white;
}

#login .twitter {
    background-color: #55ACEE;
    color: white;
}

#login .google {
    background-color: #CA1617;
    color: white;
}

#login input[type=submit] {
    background-color: #107b5a;
    color: white;
    cursor: pointer;
}

#login input[type=submit]:hover {
    background-color: #1abc9c;
}

#login .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

#login .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}

#login .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 6px 10px;
}

#login .inner {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

#login .hide-md-lg {
    display: none;
}

#login .bottom-container {
    text-align: center;
    background-color: #666;
}

#login .close {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    opacity: 1;
}

#login .close:hover {
    color: #1abc9c;
}

@media screen and (max-width: 768px) {
    .background01 #background02 {
        width: 100%;
        left: 0;
    }

    #login .modal-dialog {
        width: 98%;
    }

    #login .col {
        width: 100%;
        margin-top: 0;
    }

    #login .hide-md-lg {
        display: block;
        text-align: center;
    }

    #search .modal-dialog {
        width: 90%;
    }

    #login .vl {
        display: none;
    }

    #logo {
        margin-left: 0;
        padding-bottom: 10px;
        width: 50%;
        margin-top: -10px;
    }

    #nav1 {
        position: relative;
        padding: 0;
        background-color: rgba(255,152,76,0.57);
    }

    .bg-text {
        display: none;
    }
}

    .container-fluid > .navbar-collapse{
        margin-right: 6%;
        margin-left: 7%;
    }

#background {
    margin-top: 3%;
    background-image: url(https://www.pandotrip.com/wp-content/uploads/2018/03/Colosseum-in-Rome-during-morning-hours.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; }

#hello {
    text-align: center;
    color: white;
    font-size: 4em;
    text-decoration: none;
    margin-top: 5%;
}
#hello:hover{
    text-decoration: none;
    color: #9acfea;
}
#hello div{
    margin-top: 10%;
}
/*css */
.thumbnail-sv {
    text-align: center; }

.thumbnail-sv h5 {
    font-weight: bold;
    color: gray; }

.thumbnail-sv p {
    text-align: justify; }

.rotate360 {
    border-radius: 50px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    border: 1px solid #7F4C06;
    color: #7F4C06; }

.rotate360 i{
    font-size: 30px;
}

.rotate360:hover {
    background-color: #7F4C06;
    color: white;
    -webkit-transform: rotate(360deg);
    transition: all 1.5s; }

.link-sv {
    font-weight: bold;
    color: #7F4C06;
    transition: all 1s; }

.link-sv:hover {
    text-decoration: none;
    color: #000; }

@-webkit-keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate360 {
    100% {
        -moz-transform: rotate(360deg); } }
@-ms-keyframes rotate360 {
    100% {
        -ms-transform: rotate(360deg); } }
@-o-keyframes rotate360 {
    100% {
        -o-transform: rotate(360deg); } }
@keyframes rotate360 {
    100% {
        transform: rotate(360deg); } }
.rotate360 {
    -webkit-animation-name: rotate360;
    -moz-animation-name: rotate360;
    -ms-animation-name: rotate360;
    -o-animation-name: rotate360;
    animation-name: rotate360;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    /*animation-iteration-count: 3; */ }

    /*line*/
    .line {
        margin: 50px 0;
    }

    .lined-heading {
        z-index: 2;
        position: relative;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
        display: block;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 600;
        line-height: 1.1;
        color: #7F4C06;
        font-size: 24px;
    }

    h2.lined-heading:before {
        position: absolute;
        top: 50%;
        z-index: 1;
        display: block;
        width: 100%;
        height: 1px;
        border-top: 2px solid #7F4C06;
        content: "";
    }

    h2.lined-heading span {
        position: relative;
        z-index: 1;
        padding: 0 20px;
        background: #fff;
        display: inline-block;
    }

    .line1 {
        margin-bottom: 5%;
        width: 35%;
        border: 1px solid #7F4C06;
    }

    .line2 {
        margin-bottom: 5%;
        width: 98%;
        border: 1px solid #7F4C06;
    }

    .part-4 h3 {
        color: #7F4C06;
    }

    .part-4 p {
        text-align: justify;
    }

    .section2 {
        margin-top: 3%;
    }

    .section2 .part-5 {
        margin-top: 3%;
    }

    .section2 .part-5 h3 {
        color: #7F4C06;
    }

    .section2 .part-5 p {
        text-align: justify;
    }

    /*==================
    footer
    ==================*/
    footer {
        background-color: rgba(255,152,76,0.57);
        position: relative;
        box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.85);
        z-index: 1;
        margin-top: 50px;
    }

    .footer {
        padding: 20px 0 20px 0;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 3;
    }

    .footer img {
        width: 50%;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .footer h3 {
        color: #04749b;
        font-weight: bold;
        font-size: 18px;
    }

    .footer p {
        color: #9F9F9F;
    }

    .footer ul {
        list-style: none;
    }

    .footer ul li {
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #9F9F9F;
    }

    .footer ul li a {
        color: darkgray;
        font-weight: bold;
    }

    .footer ul li a:hover {
        color: #1abc9c;
        text-decoration: none;
    }

    .footer form {
        margin-bottom: 10px;
    }

    .footer input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        line-height: 18px;
    }

    .footer ol {
        list-style: none;
    }

    .footer ol li {
        background-color: darkgray;
        border-radius: 50%;
        float: left;
        height: 40px;
        line-height: 45px;
        width: 40px;
        margin: 0 13px 0px 0;
        text-align: center;
        transition: all 0.5s ease-in-out;
        display: inline-block;
        color: white;
        cursor: pointer;
    }

    .footer ol li a {
        color: black;
        font-size: 1.2em;
    }

    .footer ol li:hover {
        transform: rotate(360deg);
        transition: 0.5s;
        font-size: 20px;
        background-color: rgba(255,152,76,0.57);
    }

    .footer ol li:hover a {
        color: #1abc9c;
    }

    .footer-bottom {
        border-top: 1px solid darkgrey;
        width: 100%;
        color: #9F9F9F;
        padding-top: 10px;
        position: relative;
        z-index: 3;
    }

    #paypal {
        height: 25px;
        float: right;
    }

    /*scroll to top*/
    .scroll-top-wrapper {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        z-index: 99999999;
        background-color: #777777;
        color: #eeeeee;
        width: 50px;
        height: 48px;
        line-height: 48px;
        right: 30px;
        bottom: 30px;
        padding-top: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .scroll-top-wrapper:hover {
        background-color: #888888;
    }

    .scroll-top-wrapper.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }

    .scroll-top-wrapper i.fa {
        line-height: inherit;
    }

/*test*/
/* thay doi cua danh */
