.title1{
    font-size: 2em;
    font-style: italic;
    color: rgba(86,86,86,0.91);
    margin-top: 5%;
    text-align: center;
}

.hr-title{
    height: 2px;
    background: rgba(116,116,116,0.73);
    color: rgba(116,116,116,0.73);
    margin-top: 0%;
    margin-bottom: 6%;
}
.h3-title{
    margin-top: 2%;
}
.title2{
    color: rgba(120,120,120,0.91);
    font-style: italic;
}
.title2 span{
    font-size: 0.9em;
    color: #575757;
    font-style: normal;
}
.hr1{
    height: 1px;
    background: rgba(116,116,116,0.73);
    color: rgba(116,116,116,0.73);
    margin-top: 4%;
    margin-bottom: 4%;
}